html {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
My stylesheet Start here
 */
.template{
  width:960px;
  margin: 0 auto;
}
 .clear{
   overflow: hidden;
 }
 .headeroption{
background-color: #277273;
 }
.headeroption h2{
  color: white;
  text-align: center;
  font-size: 30px;

}
.mainmanu{

}
.mainmanu ul{
 list-style-type: none;
  float: right;
}
.mainmanu ul li{
 display: inline; 
}
.mainmanu ul a{
  text-decoration: none;
  color: white;
  padding:10px;
  margin:10px;
}
.mainmanu ul a:hover{
  background-color: black;
}
.contentsection{}
.leftsidebar{
  background-color: #277273;
  width: 250px;
  margin-right: 20px;
  float: left;
}
.samesidebar h2{}
.samesidebar ul{}
.samesidebar ul li{}
.samesidebar ul li a{}
.samesidebar ul li a:hover{}
.maincontent{
  width:700px;
  float: right;
}
.footersection{
  background-color: #277273;
}
.footersection h2{
}










/* end here */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}



textarea {
  resize: vertical;
}



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



.hidden {
  display: none !important;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}


.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}



@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
 
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
 
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

